@import "compass"

$PLANET_SIZE: 30px

#board

#board-scene
  float: left
  width: 400px
  height: 400px
  background: #444
  position: relative

#board-side
  float: left
  width: 300px
  min-height: 600px 
  background: yellow
  #players
    background: #aaa

#board-logs
  height: 300px
  overflow: scroll
    
.planet
  position: absolute
  width: $PLANET_SIZE * 2
  height: $PLANET_SIZE * 2
  +border-radius($PLANET_SIZE)

  background: #ccc
  
