@import "compass"

$SIZE: 80px
$PLANET_SIZE: 20px
$MOVE_SIZE: 10px

#board

#board-scene
  float: left
  width: 400px
  height: 400px
  background: #444
  position: relative

#board-side
  float: left
  width: 300px
  min-height: 600px 
  background: yellow
  #players
    background: #aaa

#board-logs
  height: 300px
  overflow: scroll
    
.planet, .move
  position: absolute

.move
  width: $MOVE_SIZE * 2 - 4
  height: $MOVE_SIZE * 2 - 4
  padding: 2px
  text-align:center
  background: #ccc

.planet
  width: $PLANET_SIZE * 2 - 10
  height: $PLANET_SIZE * 2 - 10
  padding: 5px
  +border-radius($PLANET_SIZE)

  text-align:center
  background: #ccc
  
