!!!
%html
  %head
    %title New Room
    = stylesheet_link_tag 'new'
  %body
    .container
      #map
    #sidebar
      %h2#status
      #round
      #top
    #logs
    %audio(src="music/bg.ogg" autoplay loop)
    = javascript_include_tag 'jquery', 'bootstrap.min', 'underscore-min'
    %script
      :erb
        config = {
          addr: '<%= @game_server %>',
          room: <%= @room_id %>,
          debug: true
        }
    = javascript_include_tag 'new'
    
