!!!
%html
  %head
    %title New Room
    = stylesheet_link_tag 'new'
  %body
    .container
      #map
    #sidebar
      %h2#status
      #round
      #top
    = javascript_include_tag 'jquery', 'bootstrap.min', 'underscore-min', 'new'
