- content_for :head do
  = stylesheet_link_tag "room"
  = javascript_include_tag "spine", "room"

%h1 planet conquer

- game_server = "localhost:9999"
- room_id = 0
%canvas#room-canvas
:coffeescript
  g = new Game()
  g.set_server("#{game_server}", #{room_id})

