!!!
%html
  %head
    %title New Room
    = stylesheet_link_tag 'svg_room'
  %body
    .container
      #map

    #sidebar
      #ctl
        music: 
        %a#music_play >
        game:
        %a#game_play >

      #map-info
      %h2#status
      #round
      #top
      #about
        %p
          %a#show_logs > show logs
        %p
          = link_to "rubyvspython.org", "http://rubyvspython.org", target: "_blank"

    #logs{style: "display: none"}

    %audio#music(src="music/bg.mp3" autoplay loop)

    = javascript_include_tag 'jquery', 'bootstrap.min', 'underscore-min'
    %script
      :erb
        config = {
          addr: '<%= @game_server %>',
          room: <%= @room_id %>,
          debug: true
        }
    = javascript_include_tag 'svg_room'
    
